PORT=4000
#DATBABASE 
DATABASE_URL="postgresql://admin:admin@localhost:5432/app_db?schema=public"
#JWT 
ACCESS_SECRET_KEY='your secret key'
REFRESH_SECRET_KEY='your secret key' 
VERIFY_OTP_KEY='secret key' 
RESET_PASSWORD_KEY='secret key'
RESET_EMAIL_KEY='secret key' 
#TWILIO 
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFICATION_OTP_SERVICE_SID=
TWILIO_SENDING_SMS_SERVICE_SID=
TWILIO_SENDER_PHONE_NUMBER=
#FIREBASE 

#SUPPABASE 


#ENVIROMENT 
NODE_ENV='development'